<a href="https://colab.research.google.com/github/chavesana/INF502-Fall22/blob/main/assignments/hw4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**GROUP ASSIGNMENT:** You can solve this in pairs (2 students, no more than 2 students)

**How to subm it:**
* Follow the steps defined on this notebook
* Submit the Python Notebook files to your GitHub repository (same used for the other assignments), keeping the filenames
  - make sure you add your names and GitHub username in the file, so I can connect the pairs.
  - BOTH students in your group MUST SUBMIT the solution to your own GitHub, but they will be identical files. Please make sure you include the GitHub link to the assignment for both students in the chunk below, so I can easily switch from one GitHub to the other.

**Due date:** Nov 3, 2022 11:59 PM
I will evaluate the latest commit before the deadline

---

**Students' names:**

* \<Add the first name here\> (GitHub: \<Add the student's github link here\>)
* \<Add the second name here\> (GitHub: \<Add the student's github link here\>)

---

# Part 1 - getting and exploring data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [ ]:
import pandas

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user).

In [ ]:
dataset = pandas.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user', sep='|')

### Step 3. Assign the dataset to a variable called `users` and use the `user_id` as the index

In [ ]:
dataset
#write your code here

### Step 4. See the first 25 entries

In [ ]:
#write your code here

### Step 5. See the last 10 entries

In [ ]:
#write your code here

### Step 6. What is the number of observations in the dataset?

In [ ]:
#write your code here

### Step 7. What is the number of columns in the dataset?

In [ ]:
#write your code here

### Step 8. Print the name of all the columns.

In [ ]:
#write your code here

### Step 9. How is the dataset indexed?

In [ ]:
#write your code here

### Step 10. What is the data type of each column?

In [ ]:
#write your code here

### Step 11. Print only the occupation column

In [ ]:
#write your code here

### Step 12. How many different occupations there are in this dataset?

In [ ]:
#write your code here

### Step 13. What is the most frequent occupation?

In [ ]:
#write your code here

### Step 14. Summarize the DataFrame.

In [ ]:
#write your code here

### Step 15. Summarize all the columns

In [ ]:
#write your code here

### Step 16. Summarize only the occupation column

In [ ]:
#write your code here

### Step 17. What is the mean age of users?

In [ ]:
#write your code here

### Step 18. What is the age with least occurrence?

In [ ]:
#write your code here

# Part 2 - Visualization with Chipotle's Data

Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [ ]:
import pandas as pd

### Step 2. Import the dataset ([chipotle.tsv](https://github.com/chavesana/INF502-Fall22/blob/main/data/chipotle.tsv)).

In [ ]:
#write your code here

### Step 3. Assign it to a variable called `chipo`.

In [ ]:
chipo = #write your code here

### Step 4. Show the average of the column `item_price`

In [ ]:
#write your code here

### Step 5. Count the number of occurrences for `"Chicken Bowl"`

In [ ]:
#write your code here

### Step 6. Count the number of items with ``NULL``as the `choice_description`

In [ ]:
#write your code here

### Step 7. Show the first 10 entries

In [ ]:
#write your code here

### Step 8. Create a bar plot of the top 5 items bought (total quantity per item)
Think simple... It is possible to do with what you know. No extras needed.

In [ ]:
#write your code here

### Step 9. Create a scatterplot with the number of items orderered per order price
#### Hint: Price should be in the X-axis and Items ordered in the Y-axis
(You can groupby and use the result)

In [ ]:
#write your code here